.DS_Store
.env
.tmp/
node_modules/
public/*.bundle.js
public/bundle.js
public/bundles/
/public/bundle.js.map
/public/bundles/
server.js
dist/
.idea
/*.public
yarn-error.log
/npm-debug.log
.idea
/data
/pgdata
.vscode
retire.json
*~
*.swp
*.swo
/*.public
/.awcache
.vscode/settings.json
/.test.file.js
